.HeaderBackground{
    background-color: pink;
    width: 100%;
    align-content: center
}
.Image{
    align-self: center;
    width: 100%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px midnightblue;
	background-color: #FFFFFF;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
	background-color:  midnightblue;
}
#language{
    color:  midnightblue;
    height: 30px;
    z-index: 20;
 }
.item{
color: midnightblue!important;
}
#mainpar{
    padding-left: 10px;;
}
#menu{
    background-color: pink;
    
}
#title{
    padding-top: 15px;
    padding-left: 20px;
    color: midnightblue;
    margin: 0 !important;
}
#subtitle{
    padding-left: 20px;
    color: midnightblue;
    margin: 0 !important;
}
h1{
    color:midnightblue;
}
body{
    color: rgba(0,0,0,0.8) !important;
    font-family: palatino linotype,serif !important;
    background-color: #ffd7d754 !important;
    
}
a :visited{
    color:black;
}

a:hover{
    color: midnightblue !important;
}
a{ color: midnightblue !important;}
@media only screen and (max-width: 600px) {
    p {
     padding-left: 5%;
     padding-right: 5%;
     font-size: 1em;
    }
    li{
        font-size: 0.77em;
      }
      .content{

        padding-top: 50px;
    }
    .title{    color: midnightblue !important;
                font-size: 2em ;
                font-family: palatino linotype,serif !important;
    }
    h3{padding-left: 0.5em !important;}
    #header{
        padding: 0.75em;
        background-color: pink;
        display: flex;
        flex-direction: row;
        margin: 0 !important;
    }
    .sideTitle{
        color: midnightblue;
    }
    .h4{
        margin: 0!important;
    }
    .h2{
        margin: 0!important;
    }
    .description{
        white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    /* word-wrap: break-word; */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    }
  }

  p{
      font-size: 1.33em;
  }
  li{
    font-size: 1em;
  }
