

#mobileLanguage{
    margin-top: 1.5vmax;
    margin-left: 19.5vmax;
    color:  lime;
    height: 30px;
    z-index: 2;
    position: absolute;
 }
 #mobilehead{
    z-index: 1;
    position: relative;
}

.mainTitle{
    padding-left: 1% !important;
    color:midnightblue;
    font-weight: 600;
    font-size: 3.5em;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: palatino linotype,serif;
}

#grid{
    /* width: 70%; */
    /* margin-left: 10%; */
    padding-top: 4%;
}

.main{
    width: 100%;
  
}

.head{
    background-color: pink;
    color: black !important;
  
}

#mainImage{
    border-radius: 50%;
    max-width: 85%;
    opacity: 0.9;
}
#mainpar{
    font-size: 1.3em;
}